USE [master]
GO
/****** Object:  Database [MediaPlayerDB]    Script Date: 8/16/2024 11:43:53 PM ******/
CREATE DATABASE [MediaPlayerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MediaPlayerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NHATTHANG\MSSQL\DATA\MediaPlayerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MediaPlayerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NHATTHANG\MSSQL\DATA\MediaPlayerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MediaPlayerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MediaPlayerDB]
GO
/****** Object:  Table [dbo].[MediaFiles]    Script Date: 8/16/2024 11:43:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaFiles](
	[MediaFileId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](200) NOT NULL,
	[Duration] [time](7) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Artists] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastPlayedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_MediaFiles] PRIMARY KEY CLUSTERED 
(
	[MediaFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaylistItems]    Script Date: 8/16/2024 11:43:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistItems](
	[PlaylistItemId] [int] IDENTITY(1,1) NOT NULL,
	[MediaFileId] [int] NOT NULL,
	[PlaylistId] [int] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_PlaylistItems] PRIMARY KEY CLUSTERED 
(
	[PlaylistItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 8/16/2024 11:43:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[PlaylistId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Playlists] PRIMARY KEY CLUSTERED 
(
	[PlaylistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlaylistItems_MediaFileId]    Script Date: 8/16/2024 11:43:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_PlaylistItems_MediaFileId] ON [dbo].[PlaylistItems]
(
	[MediaFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlaylistItems_PlaylistId]    Script Date: 8/16/2024 11:43:54 PM ******/
CREATE NONCLUSTERED INDEX [IX_PlaylistItems_PlaylistId] ON [dbo].[PlaylistItems]
(
	[PlaylistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PlaylistItems]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistItems_MediaFiles_MediaFileId] FOREIGN KEY([MediaFileId])
REFERENCES [dbo].[MediaFiles] ([MediaFileId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistItems] CHECK CONSTRAINT [FK_PlaylistItems_MediaFiles_MediaFileId]
GO
ALTER TABLE [dbo].[PlaylistItems]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistItems_Playlists_PlaylistId] FOREIGN KEY([PlaylistId])
REFERENCES [dbo].[Playlists] ([PlaylistId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistItems] CHECK CONSTRAINT [FK_PlaylistItems_Playlists_PlaylistId]
GO
USE [master]
GO
